.login-container {
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--dark);
}

.login-form-container {
    text-align: center;
    background: var(--primary);
    color: var(--dark);
    padding: 2em;
    border-radius: 5%;
}

.img-custom {
    position: relative;
    margin-bottom: -2rem;
}

.login-title {
    font-size: 1.3em;
}

.login-button {
    background: var(--secondary);
    color: var(--light);
    border: 0;
}

.login-button:hover {
    background: var(--secondary);
    color: var(--light);
    border: 0;
}

.login-button:not(:disabled):not(.disabled):active {
    background: var(--secondary);
    color: var(--light);
    border: 0;
}

.sign-up-button {
    background: transparent;
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.sign-up-button:hover {
    background: var(--secondary);
    color: var(--light);
    border: 0;
}

.sign-up-button:not(:disabled):not(.disabled):active {
    background: var(--secondary);
    color: var(--light);
    border: 0;
}

.forgot-button {
    background: transparent;
    color: var(--secondary);
    border: 0;
}

.forgot-button:hover {
    background: transparent;
    color: var(--dark);
    border: 0;
}

.forgot-button:not(:disabled):not(.disabled):active {
    background: transparent;
    color: var(--dark);
    border: 0;
}
