.sign-up-container {
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--dark);
}

.sign-up-form-container {
    text-align: center;
    background: var(--primary);
    color: var(--dark);
    padding: 2em;
    border-radius: 2rem;
}

.img-custom {
    position: relative;
    margin-bottom: -2rem;
}

.sign-up-form-title {
    font-size: 1.3em;
}

.form-link {
    color: var(--dark);
}

.form-link:hover {
    color: var(--light);
    text-decoration: none;
}

.sign-up-button {
    background: var(--secondary);
    color: var(--light);
    border: 0;
}

.sign-up-button:hover {
    background: var(--secondary);
    color: var(--light);
    border: 0;
}

.sign-up-button:not(:disabled):not(.disabled):active {
    background: var(--secondary);
    color: var(--light);
    border: 0;
}
