.card-container {
    min-width: 12em;
    max-width: 16em;

    margin: 0.5em;
}

@media (max-width: 800px) {
    .card-container {
        min-width: 8em;
        max-width: 12em;
    }

    .card-font-title {
        font-size: 1.2em;
    }

    .card-font-subtitle {
        font-size: 1em;
    }
}
