@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Sulphur+Point&display=swap');

:root {
    --primary: #00CCD4;
    --secondary: #86599E;
    --info: rgba(255, 255, 255, 0.9);
    --dark: #323232;
    --light-gray: #b1b1b1;
}

body {
    background: var(--dark);
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
